body {
    height: 100%;
    line-height: 24px;
    font-size: 30px;
    background-image:  url(./imgMem/pictures_originals_2015_Backgrounds_Just_a_gray_background_095362_.jpg);
    background-color: gray;

}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

._container {
    width:  80%;
    margin: 0px auto;
    padding: 0 15px;
    box-sizing: content-box;
}
h1{
    font-size: 1.7rem;
    color: blanchedalmond;
    font-family:monospace;
    letter-spacing: 0.7rem;
    text-shadow: 1px 1px 2px rgb(235, 235, 235), 0 0 1em blue, 0 0 0.2em blue;
}
/* -----HEADER ------------------------------------------------ */
.header {
    height: 55px;
    background-color: grey;
}
.main{
    margin-top: 25px;
    margin-bottom: 25px;
    min-height: 100%;
    background-color: grey;
    padding-top: 15px;
    padding-bottom: 15px;
}
.footer{
margin-top: auto;
height: 55px;
background-color: grey;
}


/* -----SLIDER ------------------------------------------------ */
.main__slider {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    
}
.slider__body {
    border-radius: 35px;
    padding-bottom: 15px;
  
}
.slider__line {
    display: flex;
    background: orangered;
    transition: all ease 1s;
    
}
.txt-and-nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.slider__txt {
}
.slider__nav {
    display: flex;
}
.slider__button {
height: 25px;
width: 25px;
display: flex;
justify-content:end;
cursor: pointer;
}

.slider__button:hover .slider__circle{
    background-color: transparent;
    transition: all ;
}

.slider__circle:active{
background-color: transparent;
}

.slider__circle {
height: 8px;
width: 8px;
border-radius: 50%;
border: 2px solid rgb(43, 43, 252);
background-color: rgb(43, 43, 252);
}

/* -----/SLIDER ------------------------------------------------ */